body {
	font-family: "Poppins", sans-serif;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.splash {
	background: rgba(15, 12, 41, 0.8);  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, rgba(36, 36, 62, 0.8), rgba(48, 43, 99, 0.8), rgba(15, 12, 41, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, rgba(36, 36, 62, 0.8), rgba(48, 43, 99, 0.8), rgba(15, 12, 41, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
	overflow: hidden;
}

nav.nav-home {
	background-color: transparent !important;
	box-shadow: none;
}

.navbar {
	box-shadow: none;
	z-index: 1000;
}

.footer {
	width: 100%;
	background: rgba(0, 0, 0, 0.05);
	padding: 31px 0;
}

.footer h2 {
	font-weight: bold;
}

.btn.btn-outline-info:hover {
	background: #03a9f4;
	color: white !important;
}

.navbar-toggler {
	border: none;
}

.card {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.title {
	text-align: center;
	padding-top: 20vh;
	margin: auto;
	width: 30vw;
}

.search {
	padding-top: 87px;
}

@media screen and (max-width: 768px) {
	.title {
		width: 75vw;
	}
}

.title h5 {
	color: white;
}

.navbar-brand, .title h1 {
	color: #e5f4fd !important;
}

.splash .shapes .shape {
	position: absolute;
	border-radius: 100%;
}

@media screen and (max-width: 768px) {
	.splash .shapes .shape {
		display: none;
	}
}

.content, .tab-content, .tab-pane, .splash {
	height: 100%;
}

.splash .shapes .shape:first-child {
	width: 15vw;
	height: 15vw;
	bottom: -7vw;
	left: -5vw;
	background: white;
	z-index: 100;
}

.splash .shapes .shape:nth-child(2) {
	width: 10vw;
	height: 10vw;
	bottom: -7vw;
	left: 5vw;
	background: white;
	z-index: 100;
}

.splash .shapes .shape:nth-child(3) {
	width: 20vw;
	height: 20vw;
	bottom: -7vw;
	left: -5vw;
	background: #e5f4fd;
	z-index: 2;
}

.splash .shapes .shape:nth-child(4) {
	width: 15vw;
	height: 15vw;
	bottom: -7vw;
	left: 9vw;
	background: #e5f4fd;
	z-index: 2;
}

.splash .shapes .shape:nth-child(5) {
	width: 10vw;
	height: 10vw;
	bottom: -7vw;
	left: 20vw;
	background: #e5f4fd;
	z-index: 2;
}

.splash .shapes .shape:nth-child(6) {
	width: 15vw;
	height: 15vw;
	bottom: -7vw;
	right: -5vw;
	background: white;
	z-index: 100;
}

.splash .shapes .shape:nth-child(7) {
	width: 10vw;
	height: 10vw;
	bottom: -7vw;
	right: 7vw;
	background: white;
	z-index: 100;
}

.splash .shapes .shape:nth-child(8) {
	width: 20vw;
	height: 20vw;
	bottom: -7vw;
	right: -3vw;
	background: #e5f4fd;
	z-index: 2;
}

.splash .shapes .shape:nth-child(9) {
	width: 15vw;
	height: 15vw;
	bottom: -7vw;
	right: 10vw;
	background: #e5f4fd;
	z-index: 2;
}

.splash .shapes .shape:last-child {
	width: 10vw;
	height: 10vw;
	bottom: -8vw;
	right: 21vw;
	background: #e5f4fd;
	z-index: 2;
}

.form-control:focus {
	border-color: #03a9f4;
}

canvas, #launch {
	display: none;
}

.files {
	padding-top: 31px;
	min-height: calc(100vh - 95px);
}

#nav-home {
	min-height: calc(100vh - 54px);
	width: 100vw;
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

.splash h1 {
	padding-top: 10vh;
	color: #fff;
	text-shadow: 0 0 50px rgba(84, 84, 84, 0.5);
}

.files .card {
	margin-bottom: 31px;
}

.files .card-body {
	overflow: auto;
	height: 143px;
}

.files .card-image-top {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#launch {
	z-index: 2;
}

#launch iframe {
	border: none;
	position: fixed;
	height: calc(100vh - 54px);
	width: 100vw;
	bottom: 0;
	left: 0;
}

#launch .nav-item:not(:last-child) {
	margin-right: 1rem;
}

#launch a {
	margin: 0;
}

.form-control {
	background-image: linear-gradient(0deg, #03a9f4 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
}